<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpjpro.mapper.UploadSessionMapper">

    <resultMap id="BaseResultMap" type="com.lpjpro.model.UploadSession">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uploadId" column="upload_id" jdbcType="VARCHAR"/>
            <result property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="objectKey" column="object_key" jdbcType="VARCHAR"/>
            <result property="bucket" column="bucket" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileExt" column="file_ext" jdbcType="VARCHAR"/>
            <result property="fileHash" column="file_hash" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="totalParts" column="total_parts" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="uploadedParts" column="uploaded_parts" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,upload_id,video_id,
        object_key,bucket,file_name,
        file_ext,file_hash,file_size,
        total_parts,user_id,uploaded_parts,
        status,created_time,updated_time,
        expire_time
    </sql>
</mapper>
