<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpjpro.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.lpjpro.model.comment.entity.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="parentCommentId" column="parent_comment_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="likes" column="likes" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="reviewedTime" column="reviewed_time" jdbcType="TIMESTAMP"/>
            <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,video_id,
        parent_comment_id,content,likes,
        status,created_time,updated_time,
        deleted_time,is_deleted,reviewed_time,
        reviewer_id
    </sql>
</mapper>
